!!! 5
html(lang='en')
  head
    title 下载免疫项目
    link(href='stylesheets/bootstrap.css')(rel='stylesheet')
    link(href='stylesheets/datepicker.css')(rel='stylesheet')

  body
    input#datepicker.span2(type='text')(placeholder='请选择日期')
    script(src='/vendor/jquery.js')
    script(src='/vendor/bootstrap-datepicker.js')
    script(src='/vendor/underscore-min.js')
    script(src='/pages/download.js')
    script(src='/pages/mianyi_download.js')
