.mask{
	background:#EEEDED;
	width:100%;
	height:100%;
	/*padding-top:100px;*/
    z-index:20000;
    left:0;
    top:0;
    position:fixed;
	}
.mask dl{
	width:650px;
	font-size:21px;
	font-family: "Microsoft YaHei UI","Adobe ºÚÌå Std R";
	margin:0 auto;
	}
.mask dl dt{
	color:#666;
	line-height:35px;
	}
.mask dl dd{
	height:45px;
	margin:10px 0;	
	}
.mask dl dd p{
	background:#30A0D2;
	float:left;
	line-height:45px;
	height:45px;
	margin-right:10px;
	text-align:center;	
	}
.mask dl dd p a {color:#FFF;
	text-decoration:none;
	display:block;
	
	padding:0 15px;
	height:45px;
	float:left;
	}
.mask dl dd p a:hover {
	color:#FFF;
	text-decoration:none;
	
	background:#1D8EC2;
	}