!!! 5
html(style='overflow: hidden;')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title#pageTitle 瀚思维康健康管理机构
    script(src='plugin/heartcode-canvasloader-min-0.9.1.js', type='text/javascript', charset='UTF-8')
    // loading
    script(src='js/loading.js', type='text/javascript', charset='UTF-8')
    // 实现右侧菜单下坠样式表
    link(rel='stylesheet', href='css/tipDiv.css')
    link(rel='stylesheet', href='css/animated-menu.css')
    link(rel='stylesheet', href='css/menu_mobile.css')
    link(rel='stylesheet', href='css/jquery.autocomplete.css')
    link(rel='stylesheet', href='css/jquery-ui.css')
    script(src='plugin/jquery-1.7.1.min.js', charset='UTF-8', type='text/javascript')
    script(src='plugin/jquery.scrollto.js', charset='UTF-8', type='text/javascript')
    script(type='text/javascript', src='http://api.map.baidu.com/api?v=2.0&ak=3f5572db9725ec7bc758e09cd4018c50', charset='UTF-8')
    script(src='plugin/jquery.autocomplete.min.js', charset='UTF-8', type='text/javascript')
    script(src='plugin/jquery.mousewheel.js')
    script(src='plugin/moment.js')
    script(src='plugin/jquery-ui.js')
    script#mapSrc(src='js/map.js', charset='UTF-8', type='text/javascript')
    script#formSrc(src='js/form.js', charset='UTF-8', type='text/javascript')
    //页面数显判断用户是否登陆对象
    script.
      serverUser=!{JSON.stringify(records)}
    // 页面样式
    link#addStyle(rel='stylesheet', href='')
    script(type='text/javascript').
      if ($.browser.msie && $.browser.version == 8.0) {
      $("#addStyle").attr("href", "css/myStyle-IE8.css");
      document.write("<script id='modelsSrc' src='js/models.js' charset='UTF-8' type='text/javascript'><\/script>");
      document.write("<script id='scrollSrc' src='js/scroll.js' charset='UTF-8'  type='text/javascript'><\/script>");
      document.write("<script id='resizeSrc' src='js/resize.js' charset='UTF-8'  type='text/javascript'><\/script>");
      document.write("<script id='serchReportSrc' src='js/serchReport.js' charset='UTF-8' type='text/javascript'><\/script>");
      //document.write("    script#formSrc(src='js/form.js', charset='UTF-8', type='text/javascript')");
      //document.write("    script#scrollSrc(src='js/scroll.js', charset='UTF-8', type='text/javascript')");
      //document.write("    script#resizeSrc(src='js/resize.js', charset='UTF-8', type='text/javascript')");
      //document.write("    script#serchReportSrc(src='js/serchReport.js', charset='UTF-8', type='text/javascript')");
      } else if($.browser.msie && $.browser.version == 6.0){
      } else {
      $("#addStyle").attr("href", "css/myStyle.css");
      document.write("<script id='modelsSrc' src='js/models.js' charset='UTF-8' type='text/javascript'><\/script>");
      document.write("<script id='scrollSrc' src='js/scroll.js' charset='UTF-8'  type='text/javascript'><\/script>");
      document.write("<script id='resizeSrc' src='js/resize.js' charset='UTF-8'  type='text/javascript'><\/script>");
      document.write("<script id='serchReportSrc' src='js/serchReport.js' charset='UTF-8' type='text/javascript'><\/script>");
      //document.write("<script id='modelsSrc' src='js/models.js' charset='UTF-8' type='text/javascript'><\\/script>");
      //document.write("<script id='scrollSrc' src='js/scroll.js' charset='UTF-8'  type='text/javascript'><\\/script>");
      ///document.write("<script id='resizeSrc' src='js/resize.js' charset='UTF-8'  type='text/javascript'><\\/script>");
      //document.write("<script id='serchReportSrc' src='js/serchReport.js' charset='UTF-8' type='text/javascript'><\\/script>");
      }
    // 入口函数
    script(src='js/main.js', charset='UTF-8', type='text/javascript')
  body
    #loadingDiv.loadingDiv
      #mask.mask(style='display: none;')
        dl
          dt 为了让您体验更美观、流畅和完整功能的网页，
          dt 我们建议您使用以下浏览器:
          dd
            p
              a(href='http://windows.microsoft.com/zh-cn/internet-explorer/ie-8-worldwide-languages') IE8.0或以上版本
            p
              a(href='http://www.google.cn/intl/zh-CN/chrome/browser/index.html') Chrome
            p
              a(href='http://firefox.com.cn/') Firefox
            p
              a(href='http://se.360.cn/') 360安全浏览器
          dt 如需继续浏览，将会降低您使用时的流畅性和舒适度。
          dt 给您带来的不便敬请谅解！
          dd
            p
      #canvasloader-container.wrapper
    #ieIstrue
      // 菜单及logo
      #menuTop.header
      // 首页1
      #main1.main1
        // 文字
        #word_index1.wordGroup1
          #title1.index1_word1 科学管理您的健康
          #title2.index1_word2 我们坚信
          #title3.index1_word3 过程决定结果
        // 左侧下一页按钮
        #toIndex2.top_fadein
          img(src='')
          span 我们是谁
      // 首页2
      #main2.main2
        #word_index2.wordGroup2.right_fadein1
          #title21.index2_word1.right_fadein1 新概念健康管理
          #title22.index2_word2.bottom_fadein 我们以发现并解决大众的健康问题为目标，
          #title23.index2_word3.bottom_fadein 为所有人提供优质健康体检服务、亚健康调理、
          #title24.index2_word4.bottom_fadein 生活方式干预、个人健康教育及就医咨询服务。
          #title25.index2_word5.bottom_fadein 并建立了新概念健康管理体系：
          #title26.index2_word6.bottom_fadein 健康监控——健康干预——绿色就医，
          #title27.index2_word7.bottom_fadein 全面实现个性化的闭环健康管理。
          #title28.index2_word8.bottom_fadein 同时，我们还为少数人提供顶级的医疗服务。
        // 左侧下一页按钮
        #toIndex3.top_fadein
          img(src='')
          span 我们正在做什么
      // 首页3
      #main3.main3
        #word_index3.wordGroup3
          #title31.index3_word1.right_fadein1 健康体检
          #title32.index3_word2.bottom_fadein2 为您度身定制健康体检方案，给出专业的健检结论，
          #title33.index3_word3.bottom_fadein3 并基于我们的海量健康数据，进行健康风险评估。
          #title34.index3_word4.right_fadein2 健康监控
          #title35.index3_word5.bottom_fadein4 运用领先的健康监控平台，为您的企业提供员工健康
          #title36.index3_word6.bottom_fadein5 信息自动采集与动态监控的持续服务。
          #title37.index3_word7.right_fadein3 特需医疗
          #title38.index3_word8.bottom_fadein6 针对您的就医需求，邀请权威专家为您进行深入的私
          #title39.index3_word9.bottom_fadein7 密化诊断。您在后续治疗中也将享受一流的服务。
        // 首页3图片组
        dl#imgGroup.view_pic.border_0
          dt#imgLine.border_1
            .img_01
              .view.view-tenth
                img(src='http://web-img.oss.aliyuncs.com/img-01.jpg')
                .mask
                  p.p1
                    | 医生为受检者
                    br
                    | 进行口腔检查
            .img_02
              .view.view-tenth
                img(src='http://web-img.oss.aliyuncs.com/img-02.jpg')
                .mask
                  p.p2
                    | 冲击波治疗室可对皮肤及
                    br
                    | 肌骨病患者进行有效治疗
            .img_03
              .view.view-tenth
                img(src='http://web-img.oss.aliyuncs.com/img-03.jpg')
                .mask
                  p.p3
                    | 护士在认真地
                    br
                    | 为受检者抽血
            .img_04
              .view.view-tenth
                img(src='http://web-img.oss.aliyuncs.com/img-04.jpg')
                .mask
                  p.p3
                    | 医生为受检者
                    br
                    | 做X光学检查
          dd
            .img_05
              .view.view-tenth
                img(src='http://web-img.oss.aliyuncs.com/img-05.jpg')
                .mask
                  p.p4
                    | 为守护您的健康
                    br
                    | 我们时刻准备着
            .img_06
              .view.view-tenth
                img(src='http://web-img.oss.aliyuncs.com/img-06.jpg')
                .mask
                  p.p5
                    | 在优美音乐的
                    br
                    | 陪伴下完成您
                    br
                    | 的健康检查
        // 左侧下一页按钮
        #toPage1.top_fadein
          img(src='')
          span 马上开始管理您的健康
      // 套餐展示页面
      #main4.main4
        dl.wordGroup4
          dt 了解以下体检套餐详情或预约体检，
          dd 请致电我们的健康顾问：010-82626102
          dt 以便为您度身定制体检方案。
          .line_56
        .package
          dl.package_dl
            dt.pinyin  wèn 
            dt
              img(src='http://web-img.oss.aliyuncs.com/font-wen.png')
            dd 适合身体素质较好的青年人，在健康筛查的基础上，对高血脂和肝病等慢性病进行筛查。细化了肿瘤标记物等检查项目。
          dl.package_dl
            dt.pinyin  xiào 
            dt
              img(src='http://web-img.oss.aliyuncs.com/font-xiao.png')
            dd 适合中老年人，对心脑血管、肝、肾、高血脂、骨质疏松等慢性疾病及常见肿瘤进行健康筛查和早期预警。
          dl.package_dl
            dt.pinyin  xiáng 
            dt
              img(src='http://web-img.oss.aliyuncs.com/font-xiang.png')
            dd 适合企业精英、成功人士，对常见肿瘤、心脑血管、肝、肾、某些传染性疾病及慢性疾病进行健康筛查和早期预警。
          dl.package_dl
            dt.pinyin  yǒng 
            dt
              img(src='http://web-img.oss.aliyuncs.com/font-yong.png')
            dd 适合企业白领，对心脑血管、肝、肾、高血脂、骨质疏松等慢性疾病及常见肿瘤进行健康筛查和早期预警。
          dl.package_dl.margin_0
            dt.pinyin  dào 
            dt
              img(src='http://web-img.oss.aliyuncs.com/font-dao.png')
            dd 适合企业高管、中老年人，对身体机能减退，容易出现癌细胞增生免疫力下降的人群。
        // 表单页面
        .wordGroup5
          .register
            form(action='', method='get', accept-charset='utf-8')
              dl
                label
                  input#name.name.ic(type='text', name='name', placeholder='姓名')
                label#boy.sex.sex_hover 男 
                label#gril.sex 女 
                label
                  input#age.age.ic(type='text', name='age', style='ime-mode: disabled;', placeholder='岁')
              dl
                label
                  input#idPort.idcard.ic(type='text', name='idcard', placeholder='身份证/#')
              dl
                label
                  input#mobile.idcard.ic(type='text', name='Mobile', placeholder='手机号/#')
              dl
                label
                  input#datepicker(readonly='readonly', placeholder='体检日期')
              dl
                label
                  input#department.idcard.ic(type='text', name='idcard', placeholder='部门')
              dl
                label
                  input#input-worker-id(type='text', placeholder='员工唯一号', style='display:none;')
              div 如需对注册信息进行核对、修改，请您联系客服协助完成。电话：010-62659812
          dl.combo
            dt 本员工适用的体检方案
            dd#showPlan
          .forminfo
            p#groupName 北京九强生物技术股份有限公司
            p.p_color 已选套餐：
            .showdiv
              label#showResultName
              h1#groupFromResult
            #formLoading.logding_icon loading......
            label
              input#submitForm.button(type='submit', name='button', value='确认预约')
      // 登录页面
      #main6.main6
        .wordGroup_login
          #errorTip.loginError
          #loginLoading.loginLoading 正在登陆...
          .icon
            .book
              .triangle_b
              p
                | 体检报告
                img(src='http://web-img.oss.aliyuncs.com/login-icon.png')
          .logintab
            dl.login
              dt#sucessTip
              p#cNumber
              input#r_mobile.class(type='text', name='textfield', placeholder='输入注册时手机号')
              input#notebutton.loginbtn(name='btn', type='button', value='发送')
              dd#notebth
                a
                  #sendMsgBtnPic.bth
                    p#P1
            dl#userLogin.login
              input#userName(type='text', name='textfield', placeholder='姓名')
              input#passWord(type='text', name='textfield2', placeholder='验证码')
              input#mobileLoginBtn.loginbtn(name='btn', type='button', value='进入')
              dd#loginBtn
                a
                  #loginBtnPic.bth
                    p#loginLoding
            ul#tab
              li
                a(href='#') >获取验证码
              li
                a(href='#')  <返回登录
        .zhushi  注：因系统升级，此功能暂时限2013年10月1日之后体检用户使用，如给您带来不便深感歉意！
        // 查看报告页面
        .wordGroup6
          dl.userinfo
            dt#getName
            dd.exit 退出
          // 用于onmouseover事件记录选中pdf的下载地址
          #markPdfUrl.displayDiv
          dl.report
      // 企业定制页面
      #main8.main8
        dl.wordGroup8
          dt 我们结合健康医疗服务和信息技术，
          dt 让您的企业享受便捷、经济、有效的健康管理服务，
          dt 从而帮助企业提高核心竞争力。
          dd
        .wordGroup9
          dl
            dt
              img(src='http://web-img.oss.aliyuncs.com/custom-img-02.png')
            dd
              h2 企业健康监控
              p
                | 健康信息自动采集与动态监控，
                br
                | 量化分析员工的健康状况，
                br
                | 为改善员工健康状况提供科学依据。
          dl
            dt
              img(src='http://web-img.oss.aliyuncs.com/custom-img-01.png')
            dd
              h2 健康生产力提升
              p
                | 为您的企业度身定制健康管理方案，
                br
                | 包括职业病和亚健康干预等服务项目，
                br
                | 并提供一站式的管理与服务。
          dl
            dt
              img(src='http://web-img.oss.aliyuncs.com/custom-img-03.png')
            dd
              h2 健康文化建设
              p
                | 开展健康活动、举办健康沙龙、
                br
                | 配备健康设施等专项服务。
                br
                | 帮助员工养成健康生活的习惯。
          dl
            .line_104
            .text 企业定制健康体检方案，请致电健康顾问：
            h1 010-82626102
      // 关于我们页面
      #main9.main9
        .wordGroup10
          #mapOutDiv.mapdiv
          .maptext
            dl.left
              dt
                div
                p 体检预约
                span 010-82626102
                p 检后咨询
                span 010-62659812
              dt.dt_ri
                div
                p.family_A E-mail
                span vip@wedocare.com
                p 体检地址
                span.family_M 北京市海淀区中关村南三街6号中科资源大厦南楼5层
            dl.right
              dt 我们的微信
              dt.weibo_t
              dd
                img(src='http://web-img.oss.aliyuncs.com/code.png')
              dd.weibo
                a(href='http://weibo.com/wedocare', target='_blank')
                  img(src='http://web-img.oss-cn-hangzhou.aliyuncs.com/Weibo_Logo.png')
                a(href='http://weibo.com/wedocare', target='_blank', style='color: #000;')
                  p 新浪微博
                  p @瀚思维康健康管理机构
        #pageButtom.footer
          p
            | 版权所有
            span 2013-2014
            | 瀚思维康健康管理集团
            p
              p
                span Copyright © 2013-2014
                | www.wedocare.com All rights reserved.
                p
        #Div1.footer_m
          p
            | 版权所有
            span 2013-2014
            | 瀚思维康健康管理集团
            p
              p
                span Copyright © 2013-2014
                p
      // 左侧锚记点
      #page1
      #page2
      #page3
      a#page4(name='group')
      #page6
      #page8
      #page9
      #page10
      // 团检锚点
      // 页面背景图
      #bg1.div_img.div_bg_index1
        img#backImage1
      #bg2.div_img.div_bg_index2
        img#backImage2
      #bg3.div_img.div_bg_index3
        img#backImage3
      #bg4.div_bg_blue
      #bg6.div_bg_yellow
      #bg8.div_bg_green
      #bg9.div_bg_gray
    script(type='text/javascript').
      if ($.browser.msie && $.browser.version == 6.0) {
      $("#mask").show();
      $("#loadingDiv").removeClass("loadingDiv");
      $("#loadingDiv").addClass("ieLoad");
      $("#ieIstrue").hide();
      }else{
      createLoading('canvasloader-container', '#2cd2de');
      }
